In [18]:
import numpy as np
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})

data.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

In [31]:
from geonamescache import GeonamesCache
gc = GeonamesCache()

def latitude(row):
    cities = gc.get_cities_by_name(row['cities'])
    if not cities:
        return np.nan
    return list(cities[0].values())[0]['latitude']

def longitude(row):
    cities = gc.get_cities_by_name(row['cities'])
    if not cities:
        return np.nan
    return list(cities[0].values())[0]['longitude']

def countrycode(row):
    cities = gc.get_cities_by_name(row['cities'])
    if not cities:
        return np.nan
    return list(cities[0].values())[0]['countrycode']

data['latitude'] = data.apply(lambda row: latitude(row), axis=1) 
data['longitude'] = data.apply(lambda row: longitude(row), axis=1)
data['countrycode'] = data.apply(lambda row: countrycode(row), axis=1)

data.head(10)

,headline,countries,cities,latitude,longitude,countrycode
0,Zika Outbreak Hits Miami,NaN,Miami,25.77427,-80.19366,US
1,Could Zika Reach New York City?,NaN,New York City,40.71427,-74.00597,US
2,First Case of Zika in Miami Beach,NaN,Miami Beach,25.79065,-80.13005,US
3,"Mystery Virus Spreads in Recife, Brazil",Brazil,Recife,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika,NaN,Dallas,32.78306,-96.80667,US
5,Trinidad confirms first Zika case,NaN,Trinidad,-14.83333,-64.90000,BO
6,Zika Concerns are Spreading in Houston,NaN,Houston,29.76328,-95.36327,US
7,Geneve Scientists Battle to Find Cure,NaN,Geneve,NaN,NaN,NaN
8,The CDC in Atlanta is Growing Worried,NaN,Atlanta,33.74900,-84.38798,US
9,Zika Infested Monkeys in Sao Paulo,NaN,Sao Paulo,NaN,NaN,NaN